@import "tailwindcss";
@layer base {
  body {
    font-family: "Space Grotesk", sans-serif;
  }
}
/* Infinite marquee animation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
}

/* Pause animation on hover (nice UX) */
.animate-scroll:hover {
  animation-play-state: paused;
}